header {
    background-color: #00aaff;
    text-align: center;
    color: white;
}

button {
    background-color: #00aaff;
    border: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
}

#flex-container {
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#create-new-button {
    margin-top: 10%;
}